# Site settings
baseurl = "https://saopaulo2019.satrdays.org/" # Change this to the base url after netlify deploy, e.g. "https://cardiff2019.satrdays.org/"
languageCode = "en-us"
title = "satRday"
theme = ["hugo-satrdays-theme", "hugo-agency-theme"]

# Enter your tracking code to enable Google Analytics
googleAnalytics = ""

# Disable taxonomies that are not used https://discourse.gohugo.io/t/found-no-layout-for-taxonomyterm-language-en-output-format-html/16376
disableKinds = ["taxonomy", "taxonomyTerm"]

[params]
  # You can use Markdown syntax for urls [text](//url.to/source) or
  # most longer texts.
  #
  # All icons using Fontawesome's icon font. Look at fortawesome.github.io/Font-Awesome/icons/
  # for more icons. The icons are represented by their corresponding
  # CSS class.

  # To provide some metadata for search engines feel free to add a few
  # information about you and your website.
  name = "satRday São Paulo"
  description = "Conferência de R em São Paulo"
   email = "satrdaysp@gmail.com"

  # Link custom assets relative to /static
  custom_css = ["css/satrday.css"]
  custom_js  = []
  favicon    = "img/favicon.ico"

  # Possibility to disable external/additional fonts
  # Exception: Fontawesome
  disableFonts = false

  # 404 error customization
  [params.error404]
    heading = "Página não encontrada"
    text = "Please visit [this page](/)"

  # Optional piwik tracking
  #[params.analytics.piwik]
  #  URL = "https://stats.example.com"
  #  ID = "42"
  #  # Track all subdomains with "*.example.com"
  #  domain = "www.example.com"
  #  # Optional integrity check hash
  #  hash = "sha512-RfeD0pacGTqy9m7U6PgehQfS4cc7SIt+e+P+H5e848kEvB/RW84CUGO3O4O3LNbxjevym6KPUZ8muPsMrI8WIw=="

  # Navigation
  [params.navigation]
    brand = "satRday"
    # Optional logo as brand stored in img/
    logo = "logo.png"
    services = "Sobre o evento"
    portfolio = "Palestras"
    # about = "Datas importantes"
    eventbrite = "Inscreva-se"
    schedule = "Programação"
    team = "Equipe organizadora"
    contact = "Contato"

    # Add custom links. Those can be pre- and postpended to the default menu above.
    # Use the weight attribute to order your custom links. Uncomment the example
    # below and replace the values with your own.

    # prepended links
    #[[menu.prepend]]
    #  url = "http://gohugo.io"
    #  name = "Hugo"
    #  weight = 10

    # postpended links
    [[menu.postpend]]
      url = "http://satrdays.org/"
      name = "satRdays.org"
      weight = 10


  # Hero section
  [params.hero]
    # To change the background image of the hero, replace 'header-bg.jpg' in
    # the 'static/img' folder.
    title = "satRday São Paulo"
    subtitle = "Conferência de usuários(as) da Linguagem R em 30 de novembro de 2019"
    bg = true
    buttonText = "Saiba mais"


  # About [Services] section
  [params.services]
    enable = true
    title = "Sobre a Conferência"
    subtitle = ""

    [[params.services.row]]

    [[params.services.row.list]]
      icon = "fa-clock-o"
      title = "Onde e quando?"
      description = "30 de novembro de 2019 no [Insper](https://www.insper.edu.br/)"
      #url = "#"

    [[params.services.row.list]]
      icon = "fa-laptop"
      title = "Palestras e Pôsteres"
      description = "Aprenda sobre aplicações práticas em R"
      #url = "#"

    [[params.services.row.list]]
      icon = "fa-graduation-cap"
      title = "Aprendizado"
      description = "Obtenha conhecimento de seus colegas e profissionais experientes"
      #url = "#"

    [[params.services.row.list]]
      icon = "fa-users"
      title = "Liderado pela Comunidade"
      description = "Organizado pela comunidade, focado na comunidade"
      #url = "#"

    [[params.services.row.list]]
      icon = "fa-money"
      title = "Preço acessível"
      description = "Inscrições em breve"
      #url = "#"

    [[params.services.row.list]]
      icon = "fa-universal-access"
      title = "Acessível"
      description = "Ambiente inclusivo, solidário e respeitoso"
      #url = "#"

  # Register section
  # You only need ONE of these active
  # [params.tito]
  #  enable = true
  #  title = "Register"
  #  bg = true
  #  accountevent = "ultimateconf/2013"
      # Go to https://ti.to/ and find the account (under your user) and event pair string e.g. "cardiff-satrday/2018"
      # include botht the account and event in a string, seperated by /, with no spaces

 # [params.eventbrite]
 #   enable = true
 #   title = "Register"
 #   bg = true
 #   eid = "32416000129" 
      # Go to https://www.eventbrite.co.uk/support/articles/en_US/How_To/how-to-sell-eventbrite-tickets-registrations-on-your-website-using-embeddable-widgets?lg=en_GB 
      # Follow instructions to discover your 'Website Integration' embeddable iframe
      # Take ONLY the numeric string between "eid=" and "&ref=etckt"
      # Supply this string as the value to `eid` above

 # [params.tickettailor]
 #   enable = true
 #   title = "Register"
 #   bg = true
 #   eventviewid = "162430"
      # Go to www.tickettailor.com and open your event page
      # Note the number at the end of the url e.g. https://www.tickettailor.com/event/view/id/162430
      # Supply the number ONLY in `eventviewid`
  
  # Call for papers section
  [params.callforpapers]
    enable = false
    title = "Call For Papers"
    bg = false
    #CfSpage = "/test3490"
      # Go to Organizer > My Events > Dashboard and copy the "CfS Page" string into the `CfSpage` value
    # dates = "09 Aug - 21 Sep 2018"

    # Schedule section
  [params.schedule]
    enable = true
    title = "Programação"
    bg = false

  # Talk [Portfolio] section
  [params.portfolio]
    enable = true #QUANDO TIVER O CONTEÚDO, HABILITAR
    # All projects defined in their own files. You can find example projects
    # at 'exampleSite/data/projects'. Copy the 'projects' folder into the 'data' directory
    # at the root of this Hugo site.
    # For more informtion take a look at the README.
    title = "Palestras"
    subtitle = "Em breve! <br><br> [As submissões de palestras e pôsters estão abertas](https://forms.gle/hBGnao9KT35iUW6w6)!"
    bg = true

    [params.portfolio.modal]
      client = "Client"
      date = "Date"
      category = "Category"
      buttonText = "Close project"



  # Important Dates [About] section
  [params.about]
    enable = true
    bg = true
    title = "Datas importantes"
    subtitle = ""
    endpoint = "30/11/2019 satRday São Paulo 2019"

    # The events will be listed from the top to the bottom.
    # All images are stored under 'static/img/about'.
    # Replace them with your own.
    [[params.about.events]]
      img = "1.jpg"
      date = "18/10/2019"
      title = "Início de submissão de palestras"
      description = " [Submeta através deste link](https://forms.gle/hBGnao9KT35iUW6w6)!"

    [[params.about.events]]
      img = "2.jpg"
      date = "08/11/2019"
      title = "Término do período de submissão de palestras"
      description = ""

    [[params.about.events]]
      img = "3.jpg"
      date = "18/11/2019"
      title = "Comunicação dos resultados de submissão de palestras"
      description = ""

 
  # Location section
  [params.location]
    enable = true
    title = "Localização"
    bg = true
    iframesrc = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.1632812916264!2d-46.67885388506984!3d-23.598476384664437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce575374b7481f%3A0x50e5aad2656c43ed!2sInsper%20Instituto%20de%20Ensino%20e%20Pesquisa!5e0!3m2!1spt-BR!2sbr!4v1571355060856!5m2!1spt-BR!2sbr"

  # Team section
  [params.team]
    enable = true  # HABILITAR QUANDO SOUBER
    # Possibility to center items
    #center = true
    title = "Equipe Organizadora"
    subtitle = ""
    bg = false
    description = ""
    speakers = "Palestrantes"
    

    # All team member's pictures are stored under 'static/img/team'.
    # Replace them with your own too.
    # Suggestion: Image size should be at least 360px*360px or the alignment might be affected.
    
    [[params.team.members]]
      img = "brunaw.jpg"
      name = "Bruna Wundervald"
      position = "Comitê Organizador / Comitê Científico"
      scope = [
        "- Maynooth University",
        "- R-Ladies São Paulo",
        "- R-Ladies Curitiba",
        "- R-Ladies Dublin",
      ] 
      social = [
        ["fa-twitter", "https://twitter.com/bwundervald"],
        ["fa-github", "https://github.com/brunaw"],
        ["fa-linkedin", "https://www.linkedin.com/in/bruna-wundervald-b1b79a160/"]
      ]


    [[params.team.members]]
      img = "beamilz.jpg"
      name = "Beatriz Milz"
      position = "Comitê Organizador"
      scope = [
        "- Doutoranda - IEE-USP",
        "- R-Ladies São Paulo",

      ] 
      social = [
        ["fa-twitter", "https://twitter.com/BeaMilz"],
        ["fa-github", "https://github.com/beatrizmilz"],
        ["fa-linkedin", "https://www.linkedin.com/in/beatrizmilz/"]
      ]

    [[params.team.members]]
      img = "juliotrecenti.jpg"
      name = "Julio Trecenti"
      position = "Comitê Organizador"
     scope = [
        "- Sócio-fundador da Curso-R",
        "- Doutorando - IME-USP",
        "- Sócio-fundador Terranova Consultoria",
        "- Diretor da Associação Brasileira de Jurimetria",
        "- Conselheiro do Conselho Federal de Estatística"
      ]  
      social = [
        ["fa-twitter", "https://twitter.com/jtrecenti"],
        ["fa-github", "https://github.com/jtrecenti"],
        ["fa-linkedin", "https://www.linkedin.com/in/jtrecenti/"]
      ]

    [[params.team.members]]
      img = "nathdemetrio.jpg"
      name = "Nathália Demétrio"
      position = "Comitê Organizador / Comitê Científico"
    scope = [
        "- Cabify",
        "- R-Ladies São Paulo",
        "- CONRE-3",

      ] 
      social = [
        ["fa-twitter", "https://twitter.com/natydemi"],
        ["fa-github", "https://github.com/natydemi"],
        ["fa-linkedin", "https://www.linkedin.com/in/nathaliademetrio/"]
      ]

    [[params.team.members]]
      img = "danielfalbel.jpg"
      name = "Daniel Falbel"
      position = "Comitê Organizador"
       scope = [
        "- RStudio",
        "- Curso-R",
        "",
      ] 
      social = [
        ["fa-twitter", "https://twitter.com/dfalbel"],
        ["fa-github", "https://github.com/dfalbel"],
        ["fa-linkedin", "https://www.linkedin.com/in/daniel-falbel-54b1a834/"]
      ]

    [[params.team.members]]
      img = "fernandafortti.jpg"
      name = "Fernanda Fortti"
      position = "Comitê Organizador"
       scope = [
        "- R-Ladies São Paulo",
        "- Mestranda - FSP-USP",
        "- Py-Ladies São Paulo",
      ]  
      social = [
      ["fa-linkedin", "https://www.linkedin.com/in/fernanda-fortti-79448260/"],
      ["fa-github", "https://github.com/FeFortti"],
      ["fa-graduation-cap", "http://lattes.cnpq.br/0136314640528010"]
   
      ]

        [[params.team.members]]
      img = "clente.jpg"
      name = "Caio Lente"
      position = "Comitê Organizador"
      scope = [
        "- Curso-R",
        "- Mestrando - IME/USP",
        "- Terranova",
      ] 
      social = [
        ["fa-github", "https://github.com/clente"],
        ["fa-linkedin", "https://www.linkedin.com/in/clente/"]
      ]


    [[params.team.members]]
      img = "renatahirota.jpg"
      name = "Renata Hirota"
      position = "Comitê Organizador / Comitê Científico"
      scope = [
        "- R-Ladies São Paulo",
        "- Vortex Media BR",
        "- IME-USP",
      ] 
      social = [
        ["fa-twitter", "https://twitter.com/renata_mh"],
        ["fa-github", "https://github.com/rmhirota"],
        ["fa-linkedin", "https://www.linkedin.com/in/renata-hirota-65a142ab/"]
      ]

  
    [[params.team.members]]
      img = "william.jpg"
      name = " William Amorim"
      position = "Comitê Organizador"
       scope = [
       "- Curso-R",
        "",
        "",
      ]  
      social = [
        ["fa-twitter", "https://twitter.com/Williamorim89"],
        ["fa-github", "https://github.com/williamorim"],
        ["fa-linkedin", "https://www.linkedin.com/in/william-amorim-776162108/"]
      ]


        [[params.team.members]]
      img = "angelica.jpg"
      name = "Angélica Custódio"
      position = "Comitê Organizador"
      scope = [
        "- R-Ladies São Paulo",
        "- C6 BANK",
        "- Mestranda - UFABC",
        "- Py-Ladies São Paulo"
      ] 
      social = [
        ["fa-twitter", "https://twitter.com/angcustodio"],
        ["fa-github", "https://github.com/angelica93"],
        ["fa-linkedin", "https://www.linkedin.com/in/angelicacustodio/"]
      ]


        [[params.team.members]]
      img = "josejesus.jpg"
      name = "José de Jesus"
      position = "Comitê Organizador / Comitê Científico"
    scope = [
       "",
       "",
     ] 
      social = [
        ["fa-twitter", "https://twitter.com/jjesusfilho"],
        ["fa-github", "https://github.com/jjesusfilho"],
        ["fa-linkedin", "https://www.linkedin.com/in/jjesusfilho/"]
      ]

    [[params.team.members]]
      img = "leticiathomaz.jpg"
      name = "Letícia Thomaz"
      position = "Comitê Organizador / Comitê Científico"
    scope = [
      "- R-Ladies São Paulo",
       "- Banco Fibra",
       "- Pós-graduanda - FIA",
     ] 
      social = [
     
    
        ["fa-linkedin", "https://www.linkedin.com/in/leticiathomaz"]
      ]


   [[params.team.members]]
      img = "rlogo.png"
      name = "Gabriel Zanlorenssi"
      position = "Comitê Organizador"
    scope = [
       "- Nexo Jornal",
       "- Mestrando - USP",
     ] 
      social = [
        ["fa-twitter", "https://twitter.com/gzanlorenssi"],
        ["fa-github", "https://github.com/gabrielzanlorenssi"],
        ["fa-linkedin", "https://www.linkedin.com/in/gabriel-zanlorenssi/"]
      ]

         [[params.team.members]]
      img = "adrianareis.jpg"
      name = "Adriana Letícia dos Reis"
      position = "Comitê Organizador"
    scope = [
       "- R-Ladies São Paulo",
       "- VIVO ",
       "",
     ] 
      social = [
        ["fa-github", "https://github.com/drimack"],
        ["fa-linkedin", "https://www.linkedin.com/in/reis-al/"]
      ]

  [[params.team.members]]
      img = "gabrielacaesar.jpg"
      name = "Gabriela Caesar"
      position = "Comitê Organizador"
    scope = [
       "- R-Ladies São Paulo",
       "- PUC-Rio",
       "",
     ] 
      social = [
        ["fa-twitter", "https://twitter.com/gabrielacaesar"],
        ["fa-github", "https://github.com/gabrielacaesar"],
        ["fa-linkedin", "https://www.linkedin.com/in/gabrielacaesar/"]
      ]


  [[params.team.members]]
      img = "rladies.jpg"
      name = "Mariana Dias Guilardi"
      position = "Comitê Organizador"
    scope = [
      "- R-Ladies São Paulo",
       "- Py-Ladies São Paulo",
       "- Mestranda - USP/Instituto Butantan",
     ] 
      social = [
        ["fa-twitter", "https://twitter.com/mariguilardi"],
        ["fa-github", "https://github.com/mariguilardi"],
        ["fa-linkedin", "https://www.linkedin.com/in/mariguilardi/"]
      ]


  [[params.team.members]]
      img = "rladies.jpg"
      name = "Cecília do Lago"
      position = "Comitê Organizador"
    scope = [
      "- R-Ladies São Paulo",
       "",
       "",
     ] 
      social = [
        ["fa-twitter", "https://twitter.com/ceciliadolago"],
        ["fa-github", "https://github.com/ceciliadolago"],
        ["fa-linkedin", "https://www.linkedin.com/in/ceciliadolago/"]
      ]


  [[params.team.members]]
      img = "hamanda.jpg"
      name = "Hamanda Cavalheri"
      position = "Comitê Organizador"
    scope = [
       "- R-Ladies São Paulo",
       "- Loggi",
       "",
     ] 
      social = [
        ["fa-linkedin", "https://www.linkedin.com/in/hamanda-cavalheri-0a64393a/"]
      ]


  # Client section
  [params.clients_list]
    enable = true
    # Possibility to center items
    center = true
    # Optional client title specifying the involvement
    title = "Patrocinadores/Sponsors"
    bg = true

    # All the clients' logos are stored under 'static/img/logos'.
    # Replace them with your clients's logos.
    # Suggestion: .svg in the size of 280px*80px looks good
    [[params.clients]]
      # logo = "envato.jpg"
      #link = "#"
      
  
  [params.diversity]
    enable = true
    title = "Diversidade e Código de Conduta"
    bg = false

  # Contact section
  [params.contact]
    enable = true
    title = "Contato"
    subtitle  = ""
    buttonText = "Envie uma mensagem"
    # netlify = true

    # Since this template is static, the contact form uses www.formspree.io as a
    # proxy. The form makes a POST request to their servers to send the actual
    # email. Visitors can send up to a 1000 emails each month for free.
    #
    # What you need to do for the setup?
    #
    # - set your email address under 'email' below
    # - upload the generated site to your server
    # - send a dummy email yourself to confirm your account
    # - click the confirm link in the email from www.formspree.io
    # - you're done. Happy mailing!

    # It is possible to substitute formspring with other providers
    # as an example the mailout plugin from caddy.
    # Provide the post URL for the form and depending on the provider
    # add some custom JS script to finish the implementation.
    # postURL = "https://example.com/mailout/"

    email = "satrdaysp@gmail.com"

    # Success and error message overwrite for async contact form
    #thanks = "Thank you for awesomely contacting us."
    #error = "Message could not be send. Please contact us at mail@example.com instead."

    [params.contact.captcha]
      # sitekey = ""

    # 'warning' defines error messages for invalid inputs
    [params.contact.form.name]
      text = "Your Name *"
      warning = "Please enter your name."

    [params.contact.form.email]
      text = "Your Email *"
      warning = "Please enter your email address."

    [params.contact.form.phone]
      text = "Your Phone *"
      warning = "Please enter your phone number."

    [params.contact.form.message]
      text = "Your Message *"
      warning = "Please enter a message."

      # Add optional form fields to identify contact forms
      #[[params.contact.form.hidden]]
      #  name = "someID"
      #  value = "example.com"
      #
      #[[params.contact.form.hidden]]
      # Special values for name such as "page" and "site" will be autofilled
      #  name = "page"

  # Footer section
  [params.footer]
    enable = true
    copyright = "Published under the Apache License 2.0."

    [[params.footer.social]]
      icon = "fa-twitter"
      link = "https://twitter.com/satrdays_org"
      title = "Twitter"

    [[params.footer.social]]
      icon = "fa-github"
      link = "https://github.com/satRdays"
      title = "GitHub"

    [[params.footer.quicklinks]]
      text = "Privacy Policy"
      link = "#"

    [[params.footer.quicklinks]]
      text = "Termos de uso"
      link = "#"
