{{ "<!-- Hero -->" | safeHTML }}
<header>
  <canvas id="Trianglewave" data-paper-scope="1" style="user-select: none; touch-action: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 1058px; height: 635px;" width="2116" height="1270"></canvas>
  <div class="container"> 
    <div class="intro-text">
      <div class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
      <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }} </div>
      <p> Inscreva-se a partir de 03/11<br> Submeta uma proposta de palestras ou pôster!</p><br>
      <a href="https://www.sympla.com.br/1-satrday-sao-paulo__699358" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
    </div>
  </div>
</header>
