{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container"> 
    <div class="intro-text">
      <div class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
      <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }} </div>
      <p> Inscreva-se até 27/11<br> <a href="https://docs.google.com/forms/d/e/1FAIpQLSc39klzMoOzQo7nIjkQEJWMW9xZNHZ3Dd5srjRKW1P7K8TNZg/viewform" style="color: #fed136">Submeta</a> uma proposta de palestras ou pôster até 08/11.</p><br>
      <a href="https://www.sympla.com.br/1-satrday-sao-paulo__699358" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
    </div>
  </div>
</header>
