{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container"> 
    <div class="intro-text">
      <div class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
      <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }} </div>
      <p> Ficou sem ingresso para o satRday São Paulo? Dia 23/11, à partir das 13h, abriremos mais um lote de inscrições! </p>
      
       <a href="https://www.sympla.com.br/1-satrday-sao-paulo__699358" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
    
      </div>
    
  </div>
</header>
